body{
    background: #f5f7f9;
}
.layout{
    border: 1px solid #d7dde4;
    background: #f5f7f9;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.layout-content-center{
    width: 100%;
    padding: 0 30px;
    margin:0 auto;
    text-align: center;
    margin-top: 15px;
}

.layout-logo{
    width: 100px;
    height: 40px;
    /*background: #5b6270;*/
    border-radius: 3px;
    float: left;
    position: relative;
    top: 10px;
    left: 30px;
    margin: 0 auto;
}
.logo-img
{
    height: 35px;
}
.layout-nav{
    height: 100%;
    color: white;
    font-size: 16px;
    position: absolute;
    top:0;
    right: 50px;
}

.ivu-menu-item
{
    font-size: 16px;
    padding: 0 10px !important;
}

.layout-footer-center{
    text-align: center;
    font-size: 17px;
    margin-top: 25px;
    margin-bottom: 20px;
}

#userPic
{
    width: 30px;
    height: 30px;
}


.ivu-page-next .ivu-icon
{
    line-height: 2;
}
.ivu-page-prev .ivu-icon
{
    line-height: 2;
}

.ivu-input-number
{
    width:100%;
}

[v-cloak] {
    display: none !important;
}

