<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqb.main.dao.GoodsDao">
    <resultMap id="goodsMap" type="goods">
        <association property="user" column="user_id" select="com.zqb.main.dao.UserDao.selectById"/>
    </resultMap>

    <insert id="addGoods">
        INSERT INTO t_goods(
        id,
        goods_name,
        user_id,
        goods_num,
        goods_pic,
        goods_price,
        goods_description,
        delete_flag
        )VALUES (
        #{id},
        #{goodsName},
        #{user.id},
        #{goodsNum},
        #{goodsPic},
        #{goodsPrice},
        #{goodsDescription},
        #{deleteFlag}
        )
    </insert>


    <select id="getCountByUser" resultType="java.lang.Integer">
         SELECT COUNT(*) FROM t_goods WHERE user_id=#{user.id}
    </select>


    <select id="getGoodsByUser" resultMap="goodsMap">
        SELECT * FROM t_goods
        WHERE
        user_id=#{user.id}
        <choose>
            <when test="page !=null">
                limit #{page.start},#{page.end}
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <update id="updateByPrimaryKey">
        UPDATE t_goods SET
        <if test="goodsName != null">
            goods_name = #{goodsName},
        </if>
        <if test="goodsNum != null">
            goods_num = #{goodsNum},
        </if>
        <if test="goodsPic != null">
            goods_pic = #{goodsPic},
        </if>
        <if test="goodsDescription != null">
            goods_description = #{goodsDescription},
        </if>
        <if test="goodsPrice != null">
            goods_price = #{goodsPrice}
        </if>
        WHERE id = #{id}
    </update>


    <select id="getGoodsByPrimaryKey" resultMap="goodsMap">
        SELECT * FROM t_goods WHERE id=#{id} limit 1
    </select>


    <select id="getAllGoods" resultMap="goodsMap">
        SELECT * FROM t_goods
        WHERE
        delete_flag=1
        <choose>
            <when test="page !=null">
                limit #{page.start},#{page.end}
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>


    <select id="getGoodsCount" resultType="java.lang.Integer">
        SELECT count(*) FROM t_goods WHERE delete_flag=1
    </select>


    <update id="removeByIdList" parameterType="java.util.List">
        UPDATE t_goods SET delete_flag=FALSE
        WHERE id in
        <foreach collection="list" item="itemId" index="index"
                 open="(" close=")" separator=",">
            #{itemId}
        </foreach>
    </update>
</mapper>