<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqb.main.dao.LogDao">
    <insert id="add">
        INSERT INTO t_log(
        id,
        operation_user,
        operation_type,
        operation_name,
        method,
        description,
        from_ip,
        params
        )
        VALUES (
        #{id},
        #{operationUser},
        #{operationType},
        #{operationName},
        #{method},
        #{description},
        #{fromIp},
        #{params}
        )
    </insert>
</mapper>