<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqb.main.dao.MessageDao">

    <resultMap id="messageMap" type="message">
        <association property="sendUser" column="send_user" select="com.zqb.main.dao.UserDao.selectById"/>
        <association property="receiveUser" column="receive_user" select="com.zqb.main.dao.UserDao.selectById"/>
    </resultMap>



</mapper>