<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqb.main.dao.SecKillDao">
    <resultMap id="secKillMap" type="secKill">
        <association property="goods" column="goods_id" select="com.zqb.main.dao.GoodsDao.getGoodsByPrimaryKey"/>
    </resultMap>

    <insert id="add">
        INSERT  INTO
        t_seckill(id,
        goods_id,
        rest_num,
        seckill_price,
        seckill_begin_time,
        seckill_end_time,
        delete_flag)
        VALUES (
        #{id},
        #{goods.id},
        #{restNum},
        #{seckillPrice},
        #{seckillBeginTime},
        #{seckillEndTime},
        #{deleteFlag}
        )
    </insert>


    <select id="getMySecKillGoods" resultMap="secKillMap">
        SELECT * FROM t_seckill WHERE
        goods_id
        in(
        SELECT id FROM t_goods
        WHERE
        user_id=#{goods.user.id})
        AND
        delete_flag=1
        <choose>
            <when test="page !=null">
                limit #{page.start},#{page.end}
            </when>
            <otherwise>
            </otherwise>
        </choose>
    </select>

    <select id="getMySecKillGoodsCount" resultType="java.lang.Integer">
        SELECT count(*) FROM t_seckill WHERE
        goods_id
        in(
        SELECT id FROM t_goods
        WHERE
        user_id=#{goods.user.id})
        AND
        delete_flag=1
    </select>


    <delete id="deleteByGoodsId">
        DELETE FROM t_seckill WHERE goods_id=#{goodsId}
    </delete>


    <select id="getSecKillByPrimaryKey" resultMap="secKillMap">
        SELECT * FROM t_seckill WHERE id=#{id} limit 1
    </select>


    <update id="updateByPrimaryKey">
        UPDATE t_seckill SET
        <if test="id != null">

            id = #{id}
        </if>
        <if test="restNum != null">
            ,rest_num = #{restNum}
        </if>
        <if test="seckillPrice != null">
            ,seckill_price = #{seckillPrice}
        </if>
        <if test="seckillBeginTime != null">
            ,seckill_begin_time = #{seckillBeginTime}
        </if>
        <if test="seckillEndTime != null">
            ,seckill_end_time = #{seckillEndTime}
        </if>
        WHERE id = #{id}
    </update>

    <select id="getSecKillGoodsPrice" resultType="java.lang.Double">
        SELECT seckill_price FROM t_seckill WHERE goods_id=#{goodsId} AND delete_flag=1 limit 1
    </select>

    <select id="getCurrentSecKill" resultMap="secKillMap">
        SELECT * FROM t_seckill WHERE seckill_begin_time &lt; #{now} AND seckill_end_time &gt; #{now} AND delete_flag=1
    </select>

    <update id="updateSecKillStatusToRemove">
        UPDATE UPDATE t_seckill SET delete_flag=0 WHERE id=#{id}
    </update>
</mapper>