<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper>
    <select id="selectAll">
        SELECT * from t_user
    </select>

    <insert id="addNewUser" parameterType="User">
        INSERT INTO t_user(user_name,user_pass) VALUE ()
    </insert>
</mapper>